:root {
    --headerHeight: 70px;
}

.headerwrapper {
    --cornerRadis: 15px;
}

.headerwrapper {
    background-color: #F4F1DE;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    -webkit-border-bottom-right-radius: var(--cornerRadis);
    -webkit-border-bottom-left-radius: var(--cornerRadis);
    border-bottom-right-radius: var(--cornerRadis);
    border-bottom-left-radius: var(--cornerRadis);
    box-shadow: 0px 8px rgba(136, 136, 136, 0.53);
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "icon searching"
                        "slider slider"
    ;
}

.logoBtn {
    background-image: url("../../../public/media/image/redditlogo.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 70px;
    line-height: 70px;
    min-width: 70px;
    display: inline-flexbox;
    cursor: pointer;
    grid-area: icon ;
}
.searchingWrapper{
    grid-area: searching;
}

.RedditTitle {
    font-weight: 700;
    color: #FF6542;
}

.redditSliderWrapper {
    background-color: #847E89;
    grid-area: slider;
    border-radius:var(--cornerRadis) ;
    padding: 5px;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
}
.arrowBtn{
    height: 40px;
}

.iconList{
    display: flex;
    align-items: center;
}
.iconList img {
    height:30px;
    border-radius: 100%;
    margin-left: 30px;
    margin-right: 5px;
}

.iconList span{
    color: white;
}

.iconList img, .iconList span {
    /*transition: display 1s;*/
}



.iconWrapper{
    display: flex;
    align-items: center;
    cursor: pointer;
}


.iconWrapper img, .iconWrapper span{
    display:inline-block;
}

.inactiveIconWrapper img,.inactiveIconWrapper span{
    display:none;
}

.hidden {
    visibility: hidden;
}


