
:root{
    --maxMediaPlayerWidth:550px;
}

.mediawrapper{
    --mediaWrapperSize:calc(80vh - var(--headerHeight));
}
.mediawrapper {
    background-color: black;
    max-height: var(--mediaWrapperSize);
    overflow: hidden;
    border-radius: 5px;
}
.videoPlayer{
    max-height: var(--mediaWrapperSize);
    max-width: var(--maxMediaPlayerWidth);
}
.thumbnailContainer {
    overflow: hidden;
}
.thumbnailContainer img{
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 100%;
}

.imgContainer{
    max-width: 90%;
    max-height: 70vh;
    border-radius: 5px;
}

@media only screen and (max-width: 450px){
    
:root{
    --maxMediaPlayerWidth:80vw;
}

}

@media only screen and (min-width: 1024px){
    
    .thumbnailContainer {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .thumbnailContainer img {
        max-width: 100px;
        max-height: 100px;
    }
    
    }