.postWrapper{
    width: 100%;
    min-height: calc(100vh - var(--headerHeight));
    display: flex;
    justify-content: center;   
    align-items: flex-start;
}

.poscontainer {
    width: 60%;
    min-height: 150px;
    margin-top: 15px;
    background-color: white;
    border: solid 3px rgba(136,136,136, 0.93);
    border-radius: 25px 25px 0px 25px;
}

